<strong>Olá, {{user.name}}</strong>
<p>Sua meetup <strong>{{meetupName}}</strong> tem mais um inscrito, confira os detalhes abaixo:</p>
<p>
  <strong>Usuário:</strong> {{subscriber.name}} <br />
  <strong>Email:</strong> {{subscriber.email}} <br />
  <br />
</p>
